name: Docker CI

on:
  push:
    branches: [ master ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t go-server:${{ github.sha }} .

      - name: Run container
        run: |
          docker run -d -p 8080:8080 --name go-server go-server:${{ github.sha }}
          sleep 3

      - name: Health check
        run: |
          curl -f http://localhost:8080

      - name: Show logs
        run: docker logs go-server

      - name: Stop container
        run: docker rm -f go-server
