name: Docker test

on:
  push:
    branches: [master]

jobs:
  docker:
    runs-on: ubunte-latets

    steps:
     - name: Clone repo
       uses: actions/checkout@v4

     - name: Docker image
       run: docker build -t gh-actions


     - name: Create server
       run: |
        docker run -d -p 8080:8080 --name go-server gh-actions
        sleep 3
        docker logs go-server

