name: Docker CI

on:
  push:
    branches: [ master ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Copy repo
        uses: actions/checkout@v4
      
      - name: Build image
        run: docker build -t gh-actions:${{ github.sha }} .

      - name: Docker run
        run: docker run -d -p 8080:8080 --name go-server gh-actions:${{ github.sha }}

      - name: Health check
        run: |
          curl -f http://localhost:8080

      - name: Server logs
        run: docker logs  go-server
      - name: Server stop
        run: docker rm -f go-server
